body {
    background: #1b1b1b;
    color: #cecece;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: 400px;
    border: 1px solid #616060;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #616060;
    border-radius: 8px;
}

form {
    height: 150px;
    width: 200px;
    margin-left: 70px;
    border: none;
    padding: 10px;
}

label{
    margin-bottom: 30px;
    color: black;
}

input[type="text"] {
    outline: none;
    padding: 7px 5px 7px 5px;
    border: 2px solid #cecece;
    background: none;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

input[type="text"]:focus {
    border: 2px solid #0084ff;
    outline: none;
    text-align: center;
}


button{
    margin-top: 10px;
    width: 220px;
    padding: 7px 5px 7px 5px;
    background: #0084ff;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.navigator {
    margin-top: 230px;
    margin-right: 50px;
}